<div id="content">
  <div id= "main-content">
    <div class="message">
      <div class="message__user">
        <section class="message__user__info">
          <img alt="ponsata" class="message__user__icon" src="/assets/sample-feda2233492ed6f8a7aa9bba4fd9b4f8fd83a60d679ae7735776883162ac8bd4.png">
          <div class = "message__user__pro">
            <%= link_to @user.nickname, user_path(@user) %>
              <p>投稿数:<%= @user.messages.count%></p>
          </div>
        </section>
        <section class="message__usesr__stats">
          <a href="/users/1/following">
            <strong id="following" class="stat">
              0
            </strong>
            <span>フォロー</span>
          </a>
          <a href="/users/1/followers">
           <strong id="followers" class="stat">
             1
           </strong>
           <span>フォロワー</span>
          </a>
          <span> | </span>
          <a href="/users/1/likes" class="like_count">
            <strong class="stat">
              1
            </strong>
            <span>Like</span>
          </a>
        </section>
      </div>
      <div class="message__inner">
        <div class="message__posts">
          <% @messages.each do |message| %>
            <div class="message__post">
              <img alt="ponsata" class="user-icon" src="/assets/sample-feda2233492ed6f8a7aa9bba4fd9b4f8fd83a60d679ae7735776883162ac8bd4.png">
              <iframe class= "youtube-icon"src="https://www.youtube.com/embed/<%= message.youtube.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="message__name"> 
                 <%= link_to message.user.nickname, user_path(message.user) %>
              </div> 
              <div class="message__title"> 
                <%= message.youtube.title %>
              </div> 
              <div class="message__timestamp">
                <span class="message__timestamp__left">
                  <span class="message__comment">
                    <i class="far fa-comment"></i>
                    <span>8</span>
                  </span>
                  <span>
                    <i class="far fa-heart"></i>
                    1
                  </span>
                </span>
                <span class="message__timestamp__right"><%= time_ago_in_words(message.created_at) %> 前の投稿</span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
</div>
