<div id="content">
  <div id= "main-content">
    <div class="messages appear up">
      <div class="messages__inner item">
        <h1 class="messages__title">Let's Share!!</h1>
        <div class="messages__video">
          <div class="youtube">
            <iframe data-src="https://www.youtube.com/embed/<%= @video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="messages__youtube-title sub-title"> 
          <%= @title %>
        </div> 
        <%= form_with(model: @message, url: messages_path(youtube_id: @youtube_id), local: true) do |f| %>
          <div class="contact-form row">
            <div class="form-field col x-50">
               <%= f.text_field :title, type: 'text', class: 'input-text js-input'%> 
               <%= f.label :title, class: "label" %>
            </div>
            <div class="form-field col x-100">
              <%= f.text_area :explanation,type: 'text', class: 'input-text js-input'%>
              <%= f.label :explanation, class: "label" %>
            </div>
            <div class="form-field col x-100 align-center">
               <%= f.submit 'Share', class:"submit-btn"%>
            </div>
            <div class="form-field col x-100">
              <%= link_to 'ホームに戻る', root_path %>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>
