<div id="content">
  <div id= "main-content">
    <div class="message appear up">
      <% if alert.present? %>
        <p class="alert item "><%= alert %></p>
      <% end %>
      <div class="message__user item">
        <section class="message__user__info">
          <% if @user.image.present? %>  
            <%= image_tag @user.image.url, class: "message__user__icon", width: '100%'%>
          <% else %>
            <%= image_tag asset_path("account-icon/account-icon.jpeg"), class: "message__user__icon" %>
          <% end %>  
          <div class = "message__user__pro">
            <%= link_to @user.nickname, user_path(@user) %>
              <div class= "message__user__pro__count">
                投稿数:<%= @user.messages.count%>
              </div>
          </div>
        </section>
        <section class="message__user__stats">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>  
          <%= link_to "follow", following_user_path(@user)%> 
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>  
          <%= link_to "followers", followers_user_path(@user)%>
          <strong class="stat">
            <%= @user.like_messages.count %>
          </strong>
          <%= link_to "Likes", user_likes_path(@user) %>
        </section>
      </div>
      <div class="message__box item">
        <div class="message__title"><%= @youtube.title %></div>
        <div class="message__video">
          <div class="youtube">
            <iframe data-src="https://www.youtube.com/embed/<%= @youtube.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="message__youtube-title sub-title"> 
          <%= @message.title %>
        </div>
        <div class="message__youtube-title sub-title"> 
          <%= @message.explanation %>
        </div> 
        <div class="message__menu">
          <div class="message__menu__undo">
            <%= link_to messages_path, method: :get do  %>
              <i class="fas fa-undo-alt"></i>
            <% end %>
          </div>
          <div class="message__menu__like">
            <%= render 'like_form' %>
          </div>
          <% if current_user.id == @user.id %>
            <div class="message__menu__edit">
              <%= link_to edit_message_path, method: :get do %>
               <i class="far fa-edit"></i>
              <% end %>
            </div>
            <div class="message__menu__trash">
              <%= link_to message_path, method: :delete, data: { confirm: "本当に消しますか?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="message__comments">
          <div class = "message__comments__title ">Comment<%= @message.comments.count %></div>
          <%= render 'comments/comment_form' %>
          <ul class="message__comments__group">
            <%= render @comments %>
          </ul>
        </div> 
      </div>
    </div>
  </div>
</div>