<div id="content">
  <div id= "main-content">
    <div class="message appear up">
      <div class="message__user item">
        <section class="message__user__info">
          <% if @user.image.present? %>  
            <%= image_tag @user.image.url, class: "message__user__icon", width: '100%'%>
          <% else %>
            <%= image_tag asset_path("account-icon/account-icon.jpeg"), class: "message__user__icon" %>
          <% end %>  
          <div class = "message__user__pro">
            <%= link_to @user.nickname, user_path(@user) %>
              <div class= "message__user__pro__count">
                投稿数:<%= @user.messages.count%>
              </div>
          </div>
        </section>
        <section class="message__user__stats">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>  
          <%= link_to "follow", following_user_path(@user)%> 
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>  
          <%= link_to "followers", followers_user_path(@user)%>
          <strong class="stat">
            <%= @user.like_messages.count %>
          </strong>
          <%= link_to "Likes", user_likes_path(@user) %>
        </section>
      </div>
      <div class="message__inner item">
        <h1>Likes</h1>
        <div class="message__posts">
          <% @messages.each do |message| %>
            <div class="message__post">
              <% if message.user.image.present? %>  
                <%= image_tag message.user.image.url, class: "user-icon" %>
              <% else %>
                <%= image_tag asset_path("account-icon/account-icon.jpeg"), class: "user-icon" %>
              <% end %> 
              <div class="youtube">
                <iframe class= "youtube-icon" data-src="https://www.youtube.com/embed/<%= message.youtube.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div> 
              <div class="message__name"> 
                 <%= link_to message.user.nickname, user_path(message.user) %>
              </div> 
              <div class="message__titles"> 
                <%= link_to message.title, message_path(message) %>
              </div> 
              <div class="message__youtube-title"> 
                <%= message.youtube.title %>
              </div> 
              <div class="message__timestamp">
                <span class="message__timestamp__left">
                  <span class="message__comment">
                    <i class="far fa-comment"></i>
                    <%= message.comments.count%>
                  </span>
                  <span>
                    <i class="far fa-heart"></i>
                    <%= message.likes.count%>
                  </span>
                </span>
                <span class="message__timestamp__right"><%= time_ago_in_words(message.created_at) %> 前の投稿</span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
</div>
