<div id="content">
  <div id= "main-content">
    <div class="acount-page">
      <div class="acount-page__inner clearfix">
        <div class="acount-page__inner__left acount-page__header">
          <h2 class="main-title">Edit</h2>
          <div class= "sub-title">編集ができます </div>
        </div>  
        <div class="acount-page__inner__right user-form">  
          <%= form_for(current_user) do |f| %>
            <div class= "acount-page__inner__right__icon">
              <div class= "acount-page__inner__right__icon__label">
                <div class ="acount-page__inner__right__icon__input">
                  <% if @user.image.present? %>
                    <%= image_tag @user.image.url, id: :img_prev %>
                  <% else %>
                    <%= image_tag asset_path("account-icon/account-icon.jpeg"), id: :img_prev %>
                  <% end %>
                  <div class= "acount-page__inner__right__icon__input__image">
                    <%= f.file_field :image, class: "acount-page__inner__right__icon__input__btn", id:"user_img" %>
                  </div>
                </div>
              </div>
              <div class = "sub-title">
                画像を追加
              </div>
            </div>
            <div class="field">
              <div class="field-label">
                <%= f.label :nickname %>
              </div>
              <div class="field-input">
                <%= f.text_field :nickname, autofocus: true %>
              </div>
            </div>

            <div class="field">
              <div class="field-label">
                <%= f.label :profile %>
              </div>
              <div class="field-input">
                <%= f.text_area :profile, autofocus: true %>
              </div>
            </div>
            
            <div class="actions">
              <%= f.submit "UpDate",  class: "btn"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

