<div id="content">
  <div id= "main-content">
    <div class="message appear up">
      <div class="message__user item">
        <section class="message__user__info">
          <% if @user.image.present? %>  
            <%= image_tag @user.image.url, class: "message__user__icon", width: '100%'%>
          <% else %>
            <%= image_tag asset_path("account-icon/account-icon.jpeg"), class: "message__user__icon" %>
          <% end %>  
          <div class = "message__user__pro">
            <%= link_to @user.nickname, user_path(@user) %>
              <div class= "message__user__pro__count">
                投稿数:<%= @user.messages.count%>
              </div>
          </div>
        </section>
        <section class="message__user__stats">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>  
          <%= link_to "follow", following_user_path(@user)%> 
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>  
          <%= link_to "followers", followers_user_path(@user)%>
          <strong class="stat">
            <%= @user.like_messages.count %>
          </strong>
          <%= link_to "Likes", user_likes_path(@user) %>
        </section>
      </div>
      <div class="users item">
        <h1>All users</h1>
        <ul class="users__pro">
          <%= render @users %>
        </ul>
        <%= will_paginate %>
      </div>
    </div> 
  </div>
</div>