<div id="user-content">
  <div id= "user-main-content">
    <div class="userbox appear up">
      <% if notice.present?%>
        <p class="notice item"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert item "><%= alert %></p>
      <% end %>
      <div class ="userbox__inner item">
        <div class= "userbox__left">
          <div class= "userbox__left__icon">
            <% if @user.image.present? %>  
              <%= image_tag @user.image.url, width: '100%', class: "icon-image" %>
            <% else %>
              <%= image_tag asset_path("account-icon/account-icon.jpeg"), width: '100%', class: "icon-image" %>
            <% end %>  
          </div>  
        </div>
        <section class="userbox__right">
          <div class="userbox__header">
            <h2 class="userbox__name main_title">
              <%= @user.nickname%>
            </h2>
            <div class="userbox__other">
              <strong id="following" class="stat">
                <%= @user.following.count %>
              </strong>  
              <%= link_to "follow", following_user_path(@user)%> 
              <strong id="followers" class="stat">
                <%= @user.followers.count %>
              </strong>  
              <%= link_to "followers", followers_user_path(@user)%>
              <strong class="stat">
                <%= @user.like_messages.count %>
              </strong>
              <%= link_to "Likes", user_likes_path(@user) %>
            </div>
            <div class="userbox__follow-btn">
              <%= render "follow_form" %>
            </div>
            <% if @user.id == current_user.id %>
              <div class="userbox__edit">
                <i class="far fa-edit"><%= link_to "プロフィールを編集", edit_user_path, method: :get %></i>
              </div>
            <% end %>
          </div>
          <div class="userbox__messages sub-title">
            投稿数:&nbsp;<%= @user.messages.count%>
          </div>
          <div class="userbox__profile sub-title">
            自己紹介: <br> <span><%= @user.profile%></span>
          </div>
        </section>
      </div>
    </div>
    <div class="youtubes appear up">
      <% if @user.id == current_user.id %>
        <div>
          <h2 class="main-title tween-animate-title item ">My Playlists</h2>
        </div>
      <% else %>
        <div>
          <h2 class="main-title tween-animate-title item">Playlists</h2>
        </div>
      <% end %>
      <div class="youtubes__userinner item ">
        <% @playlist_youtubes.each do |youtube| %>
          <% @youtube = youtube%> 
          <div class="youtubes__item ">
            <div class= "youtubes__box item">
              <iframe src="https://www.youtube.com/embed/<%= @youtube.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="youtubes__channel">
                <%= @youtube.channel_title %> 
              </div>
              <div class="youtubes__description sub-title">
                <%= @youtube.description%>
              </div>
              <div class="youtubes__btn">
                <div class="youtubes__btn__userplaylist ">
                  <% if youtube.playlist_by?(current_user) %>
                    <%= link_to "Remove",  youtube_playlists_path(youtube), method: :delete %>
                  <% else %>
                    <%= link_to "Add", youtube_playlists_path(youtube), method: :post %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>