<div id="content">
  <div id= "main-content">
    <div class="youtubes">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div>
        <h2 class="main-title tween-animate-title">Find Your Videos</h2>
      </div>
      <div class="youtubes__inner">
        <% @youtubes.each do |youtube| %>
          <% @youtube = youtube%> 
          <div class="youtubes__item appear up">
            <div class= "youtubes__box item">
              <iframe src="https://www.youtube.com/embed/<%= @youtube.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="youtubes__channel">
                <%= @youtube.channel_title %> 
              </div>
              <div class="youtubes__description sub-title">
                <%= @youtube.description%>
              </div>
              <% if user_signed_in? %>
                <button class="youtubes__post btn filled item">
                  <%= link_to "投稿する", new_message_path(youtube_id: @youtube.id,  video_id: @youtube.video_id, channel_title: @youtube.channel_title, title: @youtube.title), method: :get %>
                </button>
                <button class="youtubes__playlist">
                  <% if youtube.playlist_by?(current_user) %>
                    <%= link_to "Remove", youtube_playlists_path(youtube), method: :delete %>
                  <% else %>
                    <%= link_to "Add", youtube_playlists_path(youtube), method: :post %>
                  <% end %>
                  <i class="far fa-heart"><%= youtube.playlists.count %></i>
                </button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

