<!DOCTYPE html>
<html>
  <head>
    <title>musclegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  </head>

  <body>
    <div id="global-container">
      <div id="container">
        <div class="mobile-menu__cover"></div>
        <div class="nav-trigger"></div>
        <header class="header">
          <div class="header__inner appear up">
            <div class="logo item">
              <span class="logo__muscle"><%= link_to "Muscle", root_path, method: :get %></span>
              <span class="logo__world"><%= link_to "Gram", root_path, method: :get %></span>
            </div>
            <div class = "header__search">
               <% if user_signed_in? %>
                  <%= form_tag(find_videos_youtubes_path, method: :get) do %>
                    <div class="mobile-menu__search__box">
                      <%= text_field_tag :search, "", placeholder:"何かお探しですか？",class: "header__search__word"%> 
                        <%= button_tag :type => "submit", :class =>"header__search__submit" do %>
                          <i class="fa fa-search"></i>
                        <% end %>
                    </div>  
                  <% end %>
              <% end %>
            </div>  
            <nav class="header__nav">
              <ul class="header__ul">
                <li class="header__li item"><%= link_to "HOME", root_path, method: :get %></li>
                <li class="header__li item"><%= link_to "投稿みる", messages_path, method: :get %></li>
                <% if user_signed_in? %>
                  <li class="header__li item"><%= link_to "マイページ", user_path(current_user.id), method: :get %></li>
                  <li class="header__li item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <% else %>
                   <li class="header__li item"><%= link_to "新規登録", new_user_registration_path, method: :get %></li>
                   <li class="header__li item"><%= link_to "ログイン", new_user_session_path, method: :get %></li>
                <% end %>
              </ul>
            </nav>
            <button class="mobile-menu__btn">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </header>
 
        <%= yield %>
        
        <footer class='footer appear up '>
          <div class="logo item">
            <span class="logo__muscle">Musle</span>
            <span class="logo__gram">Gram</span>
          </div>
          <nav class="footer__nav">
            <ul class='footer__ul'>
              <li class="footer__li item">
                <div class="main-title">Address
                  <div>
                    <span class="fas fa-map-marker-alt sub-title"></span>
                    <span class="sub-title">Tokyo,</span>
                  </div>
                  <div>
                    <span class="fas fa-envelope sub-title"></span>
                    <span class="sub-title">khr.04237@gmail.com</span>
                  </div>  
                </div>
              </li>
              <li class="footer__li item">
                <div class="main-title">About us
                  <div>
                    <span class="fab fa-github sub-title"></span>
                    <%= link_to "こちらのサービスはポートフォリオです。", "https://github.com/takahirosatake", class: "sub-title" %>
                  </div>
                </div>
              </li>
            </ul>
            <div class="footer__copyright">
              &copy;2020 All right reserved.
            </div>
          </nav>
        </footer>
      </div>
      <nav class="mobile-menu">
          <div class="logo item">
            <span class="logo__stay">Muscle</span>
            <span class="logo__world">Gram</span>
          </div>
          <div class = "mobile-menu__search">
            <% if user_signed_in? %>
              <%= form_tag(find_videos_youtubes_path, method: :get) do %>
                <div class="mobile-menu__search__box">
                  <%= text_field_tag :search, "", placeholder:"何かお探しですか？",class: "header__search__word"%> 
                    <%= button_tag :type => "submit", :class =>"header__search__submit" do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                </div>  
              <% end %>
            <% end %>
          </div>  
          <ul class="mobile-menu__main">
              <li class="mobile-menu__item">
                <%= link_to "HOME", root_path, method: :get %>
              </li>
              <li class="mobile-menu__item">
                <%= link_to "投稿みる", messages_path, class: "mobile-menu__link main-title", method: :get %>
              </li>
              <% if user_signed_in? %>
                <li class="mobile-menu__item">
                  <%= link_to "マイページ", user_path(current_user.id), class: "mobile-menu__link main-title", method: :get%>
                </li>
                <li class="mobile-menu__item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "mobile-menu__link main-title" %>
                </li>
              <% else %>
                <li class="mobile-menu__item">
                  <%= link_to "新規登録", new_user_registration_path, class: "mobile-menu__link main-title", method: :get %>
                </li>
                <li class="mobile-menu__item">
                  <%= link_to "ログイン", new_user_session_path, class: "mobile-menu__link main-title", method: :get %>
                </li>
              <% end %>
          </ul>
      </nav>
    </div>
  </body>
</html>
